$demo-color: #ffeb3300;

$background-color: rgb(202, 160, 68);

$primary-color: red;

$secondary-color: red;

$box-color: rgb(241, 211, 183);

$text-color: rgb(0, 0, 0); 

$header-footer-color: #ffeb33d8;

$backdrop:rgb(255, 251, 238);

